<div class="card text-center mt-5">
  <div class="card-header">
    Hotel - cool
  </div>
  <div class="card-body">
    <h5 class="card-title">Parcourez tout les établissement</h5>
    <p class="card-text">Pour admirer toutes nos suites.</p>
    <a href="/suite" class="btn btn-primary">Voir les suites</a>
  </div>
  <div class="card-footer text-muted">
    &copy;Hotel-Cool | 2023
  </div>
</div>