{% extends "base.html.twig" %}

{% block title %}Hotel - cool{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue à L'Hotel</h1>
            <p class="lead">Faites comme chez vous et rester autemp que vous le souhaitez !<br>
            Réserver des suites majestueuses qui vous donnerons l'envie que ses instant dure une éternité</p>
            <hr class="my-4">
            <p>Crée un compte et commencer vos recherche pour trouver la suite qui vous conviens dans nos nombreux lieux magique</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>
    </div>
{% endblock %}